@import url("https://fonts.googleapis.com/css?family=Gaegu");
@import url("https://fonts.googleapis.com/css?family=Atma:700");

.app {
  height: 100%; 
  font-family: 'Gaegu', cursive;
  font-size: 24px;
  position: relative;
}

.content{
  height: 85%;
  overflow: auto;
  width: 100%;
  display: block;
  position: relative;
}

.close-icon {
  display: flex;
  justify-content: flex-end;
}

.footer{
  background: #eb4d4b;
  position: absolute;
  height: 80px;
  z-index: 1;
  width: 100%;
}

.icon-add {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  background: #eb4d4b;
  width: 150px;
  height: 150px;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center; 
  color: white;
  font-size: 60px;
}

.ant-modal{
  width: 70% !important;
  height: fit-content;
  top: 0 !important;
}
.ant-modal-wrap{
  top: 82px !important;
  height: 75% !important;
}